.contactInfo {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    color: black;
}

.mapouter {
    position: relative;
    text-align: right;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;

}

.footerMenuLink {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.2s;
}

.footerMenuLink p {
    margin: 0;
    padding-bottom: 7px;
    transition: 0.3s;
}

.footerMenuLink p:hover {
    text-decoration: none;
    color: #08A74C;
    padding-left: 5px;

}

.subscribeContainer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.subscribeEmail {
    background-color: transparent;
    color: #fff;
    margin-right: 70px;
    position: relative;

}

.socialIcon {
    margin-left: 10px;
    transition: 0.3s !important;
    font-size: 30px !important;
    cursor: pointer;
    color: rgb(63, 63, 63);
}

.socialIcon:hover {
    color: #08A74C;
    transform: scale(1.2);
}

.footerMenuHeading {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.goToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #08A74C !important;
    color: #fff !important;
    border-radius: 50% !important;
    border: 1px solid #08A74C;
    transition: 0.2s;

}

.goToTopBtn:hover {
    background-color: black !important;
    border: 1px solid black;
    transition: 0.2s;
}


.new_footer_top {
    overflow-x: hidden;
}

.footer_bg {
    background: url("../../../Assets/Image/footer/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
    margin-top: -100px;
}

.footer_bg_one {
    background: url("../../../Assets/Image/footer/truck.gif") no-repeat center center;
    width: 330px;
    height: 170px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.footer_bg_two {
    background: url("../../../Assets/Image/footer/Bike.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}