.inActiveMenu {
    text-decoration: none;
    font-size: 19px;
    color: black;
    font-family: "Montserrat", sans-serif;
    border-bottom: 2px solid transparent;
    transition: 0.4s ease-in-out;
    font-weight: 500;
    margin: 0px 13px;
}

.inActiveMenu:hover {
    border-bottom: 2px solid #08A74C;
    color: #08A74C;
}

.activeMenu {
    text-decoration: none;
    font-size: 19px;
    color: #08A74C;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: block !important;
    border-bottom: 2px solid #08A74C;
    margin: 0px 13px;
}

.call {
    text-decoration: none;
    font-size: 17px;
    color: #08A74C;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.callIcon {
    animation: bounce 2s ease infinite;
}

@keyframes bounce {
    70% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(-30%);
    }

    90% {
        transform: translateY(0%);
    }

    95% {
        transform: translateY(-7%);
    }

    97% {
        transform: translateY(0%);
    }

    99% {
        transform: translateY(-3%);
    }

    100% {
        transform: translateY(0);
    }
}

.webLogo {
    width: 200px;

}

@media only screen and (max-width: 600px) {
    .webLogo {
        width: 150px;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 900px) {
    .nonActive {
        padding-right: 10px;

    }

    .active {
        padding-right: 10px;
    }
}