.contactContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.872)), url("../../../Assets/Image/faqimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.contactInput {
    border-radius: 5px;
    padding: 12px 20px;
    width: 93%;
    background: #fff !important;
    outline: none;
    border: none;
    margin-bottom: 20px;
    font: inherit;
}

.contactInput,
.contactTextarea:focus {
    border: 1px solid #08A74C;
    margin-bottom: 20px;
}

.contactTextarea {
    padding: 10px;
    border-radius: 10px;
    border-color: #8C8989;
    width: 95%;
    resize: none;
    outline: none;
    margin-bottom: 20px;
    font: inherit;
}

.contactSendBtn {
    width: 20%;
    border: 1px solid #08A74C;
    padding: 13px 15px;
    border-radius: 7px;
    background-color: #08A74C;
    color: white;
    cursor: pointer;
    font-size: 17px;
    transition: 0.2s;
}

.contactSendBtn:hover {
    background-color: transparent;
    border: 1px solid #08A74C;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.contact-link:hover {
    color: #08A74C !important;
}

.selectOption:focus {
    border: none;
    outline: none;
}