.district-name {
    display: flex;
    transition: .2s;
    justify-content: space-between;
}

.active {
    display: none;
    color: black;
}

.hideArrow {
    display: none;
}

.covarageSearch {
    border-radius: 8px 0px 0px 8px;
    width: 100%;
    padding: 13px 11px;
    outline: none;
    border: 1px solid #21AA56;

}

.covarageSearchBtn {
    border: 1px solid #21AA56;
    padding: 8.5px 24px;
    display: flex;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    border-left: none;
    cursor: pointer;
    background-color: #21AA56;
    transition: 0.2s;
}

.district-name:hover {
    background-color: #21AA56;
    color: white;
}

.searchIcon {
    padding: 1px;
    transition: 0.2s;
}

.covarageSearchBtn:hover {
    background-color: transparent;
}

.covarageSearchBtn:hover .searchIcon {
    color: #21AA56;
    transition: 0.2s;
}