.singleServiceImage {
    transition: 0.5s ease-in-out;
}

.singleServiceItem {
    border: 1px solid rgb(238, 238, 238);
    box-shadow: none !important;
    cursor: pointer;
    transition: 0.3s ease-in-out !important;
}

.singleServiceItem:hover .singleServiceImage {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.singleServiceItem:hover {
    box-shadow: 0px 12px 0px 0px #08A74C !important;
}