.blog-image {
    transition: 0.5s ease-in-out;
}

.singleServiceItem:hover .blog-image {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.singleServiceItem:hover {
    box-shadow: 0px 0px 5px 7px #e5e4e4ad;
}