.faq-background {
    background-color: #2b2c41;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.faq-shape {
    background-image: url("../../../Assets/Image/greenShapeHalf.png");
    background-repeat: no-repeat;
    background-position: left top;
    width: 100% !important;
}

.cardContainer {
    border: 1px solid rgb(114, 114, 114);
    border-radius: 5px;
    padding-left: 6px;
}

.cardContainer:hover .cardText {
    color: black !important;
}

.css-1pxs7hz-MuiSvgIcon-root {
    background-color: #2B2C41 !important;
    border: 2px solid white !important;
    font-size: 22px !important;
}