.delivery-conainer {
    background-image: linear-gradient(#011e25d8, #011e25d8), url("../../../Assets/Image/Background.png");
    background-attachment: fixed;
    background-position: bottom bottom;
    background-size: cover;
}

.MuiOutlinedInput-root,
.MuiAutocomplete-input {
    border-color: rgb(210, 210, 210) !important;
    background: #fff !important;
    border-radius: 3px;
}

.MuiOutlinedInput-root,
.MuiAutocomplete-input:focus {
    border-color: #08A74C !important;
}

.MuiOutlinedInput-root,
.MuiAutocomplete-input:focus {
    box-shadow: none;
}